@import './ui/theme.css';

:root {
  font-size: 14px;
  line-height: 1.4;
  color-scheme: dark;
}

body,
html,
#root {
  min-height: 100vh;
  min-height: 100dvh;
}

html,
body {
  overscroll-behavior: none;
}

#root {
  display: flex;
  flex-direction: column;
}
